@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* COLOR PALETTE */
  --color_white: #FFFFFF;
  --color_black: #000000;
  --color_purple: #5936A4;
  --color_light_purple: #200a4fb0;
  --color_orange: #FC7E00;
  --color_yellow_star: #FFBB00;
  --color_light_grey: #6C6C6C;
  --color_dark_grey: #222222;
  /* COLOR PALETTE */

  /* FONTS */
  --default_font: 'Roboto', 'poppins', 'lato', sans-serif;
  /* FONTS */
}

/* GLOBAL FORMATTING */
html {
  font-family: var(--default_font);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
/* GLOBAL FORMATTING */

main {
width: 1200px;
margin: 0 auto 50px;
}

.container__nav__menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--color_purple);
}

.box__logo {
  margin-right: 30px;
}

.box__logo img {
  width: auto;
  height: 60px;
}

.box__search__and__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box__search form {
  display: flex;
  align-items: center;
}

.box__search {
  width: 100%;
}

.box__search i {
  font-size: 20px;
  color: var(--color_light_grey);
  position: relative;
  right: -32px;
  top: 1px;
}

.box__search i:hover {
  cursor: pointer;
}

.box__search input {
  border: none;
  height: 40px;
  width: 90%;
  margin-right: 20px;
  padding-left: 40px;
  border-radius: 20px;
  /* text-decoration: none; */
}

.box__search input:focus {
  border: none;
  outline: none;
}

.container__nav__links {
  display: flex;
}

.box__nav__links {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.box__nav__links li {
  margin-right: 20px;
}

.box__nav__links li:last-child {
  margin-right: 0;
}

.box__nav__links li, .box__nav__links a {
  text-decoration: none;
  color: var(--color_white);
}

.box__nav__links li:hover{
  color: var(--color_orange)
}

.box__nav__links a:hover{
  color: var(--color_orange)
}

.box__nav__categories {
  display: flex;
  justify-content: space-around;
  background-color: var(--color_orange);
  padding: 15px 0;
  margin-bottom: 25px;
}

.box__nav__categories li {
  font-size: 1.2rem;
  color: var(--color_white);
  cursor: pointer;
}

.box__nav__categories li:hover {
  color: var(--color_purple)
}

.li__all__categories {
  display: flex;
  color: var(--color_white);
}

.li__all__categories i {
  margin-right: 10px;
}

.li__all__categories i {
  margin-right: 10px;
}

.li__all__categories:hover .all__categories {
  display: block;
}

.all__categories {
  display: none;
  padding: 10px;
  background-color: var(--color_orange);
}

.container__store__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box__store__cards {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 25px 0.5%;
}

.box__store__cards a {
  text-decoration: none;
  color: var(--color_black);
}

.bouding__box__favorite {
  position: relative;
  width: 310px;
}

.box__image__cards {
  margin-bottom: 15px;
}

.icon__favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon__favorite i {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  color: var(--color_purple);
  background-color: var(--color_orange);
}
  
  .icon__favorite i:hover {
    color: var(--color_orange);
    background-color: var(--color_purple);
}

.box__store__text {
  margin-bottom: 10px;
}

.box__store__text h3 {
  margin-bottom: 8px;
}

.store__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.store__categorie {
  font-weight: 500;
}

.box__icon__stars {
  margin-bottom: 15px;
}

.box__icon__stars i {
  color: var(--color_yellow_star);
}

.box__addres {
  color: var(--color_dark_grey);
}

.box__addres p {
  font-size: 0.9rem;
}

.box__chatbot {
  position: fixed;
  bottom: 60px;
  right: 50px;
  cursor: pointer;
}

.box__chatbot i {
  font-size: 30px;
  padding: 22px 20px;
  border-radius: 60px;
  color: var(--color_purple);
  background-color: var(--color_orange);
}

.box__footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: var(--color_white);
  background-color: var(--color_light_purple)
}

.box__footer__copyright p {
  font-size: 0.9rem;
}

/* RESPONSIVENESS */
/* <576px / >=576px / >=720px / >=768px / >=992px / >=1200px */
@media (min-width: 1px) and (max-width: 800px) {
  main {
    width: 100%;
  }

  .container__nav__menu, .box__search__and__links, .container__store__cards  {
    flex-direction: column;
  }

  .box__logo {
    margin: 15px auto;
  }

  .box__nav__categories li:not(:first-child) {
    display: none;
  }

  .container__nav__links {
    margin: 20px auto;
  }

  .box__store__cards {
    width: 100%;
  }
  
  .icon__favorite i {
    font-size: 1.5rem;
    padding: 15px 15px 15px 15px;
  }

  .box__chatbot {
    bottom: 320px;
    left: 20px;
  }

  .box__chatbot i {
    font-size: 25px;
    padding: 20px;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  main {
    width: 100%;
  }

  .box__nav__categories li:not(:first-child) {
    display: none;
  }

  .container__store__cards {
    width: 100%;
  }

  .box__store__cards {
    width: 40%;
    justify-content: space-around;
  }
}
/* RESPONSIVENESS */
